
body {
font-family: Platypi;
   background-image: url(images/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
#navid{
	position: sticky;
}

#image1{
	height: 250px;
	width: 300px;
	margin-top: 50px;
    border-radius: 80px;

}


p{
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: ;
}
h4{
	color: black;
	font-size: 40px;
}
img{
	width: 250px;
    height: 250px;
    border-radius: 8px;
}



nav a:hover
{
text-decoration: underline;

}
#body_font
{
	font-size: 12;
}
li
{
list-style: none;	
}
#container1
{
    background-color: white;
box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; 
border-radius: 10px;
}

#projects
{
	margin-bottom: 50px;
}
#Tools
{
	margin-bottom: 50px;
}

button
{
	margin-top: 20px;
	padding: 12px 16px;
	border-radius: 20px;
	
}

#tools_id
{
    margin-top: 10px;
}

#zoom:hover{
    background-color: transparent;
    transform: scale(1.5);
}
#map
{
height: 250px;
width: 250px;
}

#animate
{
    background-color: red;
    animation: html 4s ease-in-out forwards;
}

#animate_2
{

    background-color: red;
    animation: html2 4s ease-in-out forwards;

}
#animate_3
{
  background-color: red;
    animation: html3 4s ease-in-out forwards;
}
#animate_4
{
  background-color: red;
    animation: html3 4s ease-in-out forwards;
}

#animate_5
{
  background-color: red;
    animation: html4 4s ease-in-out forwards;
}

#animate_6
{
  background-color: red;
    animation: html5 4s ease-in-out forwards;
}


#animate_7
{
  background-color: red;
    animation: html6 4s ease-in-out forwards;
}


#animate_8
{
  background-color: red;
    animation: html7 4s ease-in-out forwards;
}
#animate_9
{
  background-color: red;
animation: html10 4s ease-in-out forwards;
}
#animate_11
{
  background-color: red;
animation: html11 4s ease-in-out forwards;
}
#animate_12
{
  background-color: red;
animation: html12 4s ease-in-out forwards;
}





.wrapper.one {
    background-color: transparent;
}
.drop-main {
    display: flex;
    font-size: 2rem;
    color: red;
    justify-content: center;
    font-family: "Platypi", sans-serif;
}
.j {
    opacity: 0;
    animation: drop 0.4s linear forwards;
 
}
.o {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.2s;
  
}
.s {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
  
}
.h {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
   
}
.u {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
   
	
}
.a {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    
}


@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes html{
    0%{
        width: 0;
    }
    100%
    {
        width: 80%;
    }
}


@keyframes html2{
    0%{
        width: 0;
    }
    100%
    {
        width: 80%;
    }
}

@keyframes html3{
    0%{
        width: 0;
    }
    100%
    {
        width: 70%;
    }
}

@keyframes html4{
    0%{
        width: 0;
    }
    100%
    {
        width: 50%;
    }
}
@keyframes html5{
    0%{
        width: 0;
    }
    100%
    {
        width: 60%;
    }
}
@keyframes html6{
    0%{
        width: 0;
    }
    100%
    {
        width: 70%;
    }
}
@keyframes html7{
    0%{
        width: 0;
    }
    100%
    {
        width: 50%;
    }
}
@keyframes html8{
    0%{
        width: 0;
    }
    100%
    {
        width: 60%;
    }
}
@keyframes html10{
    0%{
        width: 0;
    }
    100%
    {
        width: 80%;
    }
}
@keyframes html11{
    0%{
        width: 0;
    }
    100%
    {
        width: 60%;
    }
}
@keyframes html12{
    0%{
        width: 0;
    }
    100%
    {
        width: 50%;
    }
}














