body
{
	overflow-x: hidden;
}

.section1
{
 align-items: center;
}
#h3size
{
	font-size: 50px;
}
#h2size
{
	font-size: 30px;

}
a
{
	text-decoration: none;
	color: black;
}
a:hover
{
	color: rgb(252, 93, 93);
}

#home
{

	height:80vh;
	align-items: center;
	padding: 0 10%;
}



#aboutme
{
	height: 80vh;
	align-items: center;
	padding: 0 10%;
}

.btn
{
	margin-right: 10px;
	border-radius: 80px;
	padding: 15px;
	margin-top:10px;
}

li
{
	list-style: none;
}

#section
{
	height: 80vh;
	margin-top: 5rem;
}